# pylint config
[MASTER]
ignore-patterns=^test.*

[MESSAGES CONTROL]
disable=fixme,
        consider-using-f-string,
        invalid-name,
        line-too-long,
        missing-function-docstring,
        missing-module-docstring,
        multiple-imports,
        no-else-return,
        redefined-outer-name,
        superfluous-parens,
        too-many-locals,
        too-many-arguments,
        too-many-branches,
        too-many-instance-attributes,
        too-many-return-statements,
        too-many-statements
