name: CI

on: [push, pull_request]

jobs:
  gitHubActionForPytest:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8]
    name: GitHub Action
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Unit Test
      run: |
        python -m unittest discover
    - name: Coverage
      run: |
        pip install coverage
        python -m coverage run -m unittest discover
        python -m coverage report -m --include check_http_json.py
